* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #101010;

  /* min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("bgartikel2.jpg") center / cover no-repeat;
  background-size: cover;
  background-position: center; */
}

#scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #00b894, #55efc4);
  z-index: 9999;
}

/* navbar */

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 22px;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 9998;
}

.back-btn {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: #f2f0e9;
  padding-left: 40px;
}

.back-btn:hover {
  color: #00b894;
  transition: 0.3s ease;
}

.emoji-roket {
  width: 24px;
  height: 24px;
}

/* end navbar */

header {
  max-width: 720px;
  margin: 40px auto 40px;
}

.article-container {
  width: 100%;
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-container h1 {
  color: #f2f0e9;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
}

.caption {
  display: flex;
  position: relative;
  color: #f2f0e9;
  flex-direction: column;
  gap: 4px;
  margin-top: 30px;
  padding: 18px 44px 18px 0; /* ruang icon */
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copy-link {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #f2f0e9;
  width: 32px;
  height: 32px;
}

/* hover icon */
.copy-link:hover {
  color: #00b894;
}

/* tooltip */
.copy-link::after {
  content: "Link telah disalin";
  position: absolute;
  right: 38px;
  top: 50%;
  transform: translateY(-50%) translateX(6px);
  background: rgba(18, 21, 24, 0.95);
  color: #f2f0e9;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
  white-space: nowrap;
}

/* muncul */
.copy-link.copied::after {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

#copyToast {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  background: rgba(30, 115, 200, 0.92);
  color: #f2f0e9;
  padding: 12px 20px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0lid white;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 99999;
  backdrop-filter: blur(10px);
}

/* aktif */
#copyToast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.caption .author {
  font-weight: 800;
  font-size: 16px;
  padding-bottom: 4px;
}

.caption .date {
  font-size: 16px;
  opacity: 60%;
}

.article-cover {
  max-width: 720px; /* SAMA dengan paragraf */
  margin: 50px auto;
}

.article-cover img {
  width: 100%;
  display: block;
  border-radius: 20px;
  border: 2px solid #f2f0e9;
}

.content {
  max-width: 720px;
  font-family: "EB Garamond", serif;
  color: #f2f0e9;
  font-size: 18px;
  margin: 0 auto;
  line-height: 32px;
}

.content p {
  text-wrap: pretty;
}

.content pre {
  background: rgba(33, 41, 49, 0.419);
  border-radius: 20px;
  margin: 14px 0;
  padding: 18px;
  overflow-x: auto; /* SCROLL KE SAMPING */
  max-width: 100%;
  white-space: pre; /* TETAP SATU BARIS */
}

footer {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-inner {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.close {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top {
  display: flex;
  align-items: center; /* sejajar vertikal */
  gap: 16px; /* jarak foto & teks */
  background-color: rgba(33, 41, 49, 0.419);
  margin-top: 40px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #f2f0e915;
  color: #f2f0e9;
}

.author-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.author-text h3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  margin-bottom: 6px;
}

.emoji {
  width: 24px;
  height: 24px;
}

.author-text p {
  font-size: 14px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;

  /* efek aesthetic */
  background: rgba(255, 255, 255, 0.08);
  padding: 4px; /* bikin efek frame */
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.bottom p {
  color: #f2f0e9;
}

.bottom a {
  color: #f2f0e9;
  transition: 0.5s ease;
  text-decoration: none;
}

.bottom:hover a {
  color: #00b894;
}

@media (max-width: 768px) {
  /* navbar */
  .back-btn {
    padding-left: 10px;
  }

  /* header */

  header {
    padding: 0 16px;
  }

  #copyToast {
    top: 70px;
    font-size: 13px;
    padding: 10px 16px;
  }

  .article-container h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .caption {
    padding-right: 40px;
  }

  .copy-link {
    width: 28px;
    height: 28px;
  }

  .copy-link svg {
    width: 20px;
    height: 20px;
  }

  /* end header */

  /* image */
  .article-cover {
    margin: 40px 16px;
  }

  /* isi paragraf */
  .content {
    max-width: 1024px;
    font-size: 18px;
    line-height: 28px;
    padding: 0 16px;
  }

  /* footer */
  footer {
    padding: 0 16px 40px;
  }

  .top {
    flex-direction: column;
    text-align: center;
  }
}
